/* ----------------- Color Reference -------------- */ 

/* Whole page */
$background: #F3F3F3;

/* Photo panel */
$background-photo: #313131;
$caption-photo: #EBEBEB;

/* Text panel */
$title: #023853;
$subtitle: #ACABAB; 
$divider-line: #D0DBE9;
$divider-bar: #008ECF;
$text-paragraph: #616161;
$text-blockquote: #008ECF;

/* ----------------- Whole Page ------------------ */ 

*{
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.container{
	background-color: $background;
	display: flex;
	flex-direction: row;
	.left-panel, .right-panel{
		margin-top: 75px;
		margin-bottom: 75px;
	}
}

/* ----------------- Left Panel ------------------- */ 

.left-panel{
	width: 37%;
	margin-left: 20px;
	margin-right: 10px;
	#figure-wrapper{
		width: 97%;

	}
}

figure{
	margin-top: 0;
	background-color: $background-photo;
	color: $caption-photo;
	img{
		width: 100%;
	}
	figcaption{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		p{
			font-family: 'Roboto', sans-serif;
			font-size: .825em;
			font-weight: 300;
			letter-spacing: .2px;
			line-height: 210%;
			span{
				font-weight: 400; 
			}
			.fa{
				padding: 5px;
				font-size: 1.5em;
				margin-right: 8px;
			}
			.fa-phone{
				padding-right: 10px;
			}
		}
	}
}

/* ----------------- Right Panel ------------------- */ 

.right-panel{
	width: 63%;
	margin-right: 75px;
	h1{
		color: $title;
		margin: 0 0 12px 0;
		font-family: Poppins, sans-serif;
		font-size: 3.1em;
		letter-spacing: 5px;
	}
	h4{
		color: $subtitle;
		margin: 0 0 20px 0;
		font-family: 'Lato', sans-serif;
		font-size: .95em;	
		letter-spacing: 2px;
	}
	#divider{
		border-top: 2px solid $divider-line;
		width: 100%;
		margin: 0 0 18px 0;
		#divider-bar{
			border-top: 8px solid $divider-bar;
			width: 14%;
			margin-top: -4px;
			margin-left: 3%;
		}
	}
	section{
		p{
		    color: $text-paragraph;
			font-family: 'Catamaran', sans-serif;	
			font-size: 1.01em;
		    letter-spacing: 1.35px;    
		    line-height: 149%;
		}
		blockquote{	
			width: 90%;
			margin: 30px auto;
			color: $text-blockquote; 
			font-family: 'Cabin Condensed', sans-serif;
			font-size: 2.02em;
			font-style: italic;
			font-weight: 500;
			letter-spacing: 3.9px;
			line-height: 130%;
		}
	}
}

/* ------------- Responsive for mobile -------------- */ 

@media (min-width: 0px) and (max-width: 415px){
	.container{
		flex-direction: column; 
		padding-bottom: 30px;
		.left-panel, .right-panel{
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}
	.left-panel{
		width: 100%;
		margin: 0;
		#figure-wrapper{
			margin: 0 auto;
		}
		figure figcaption p{
			font-size: .8em;
		}
	}
	.right-panel{
		width: 90%;
		margin: 0 auto; 
		h1{
			font-size: 1.5em;
		}
		h4{
			font-size: .5em;
		}
		section{
			p{
				font-size: .75em;
			    letter-spacing: .3px; 
			}
			blockquote{	
				font-size: .9em;
				letter-spacing: 1.5px;
			}
		}
	}
}

/* ------------- Responsive for tablet -------------- */ 

@media (min-width: 416px) and (max-width: 1030px){
	.container{
		flex-direction: column; 
		padding-bottom: 30px;
		.left-panel, .right-panel{
			margin-top: 20px;
			margin-bottom: 15px;
		}
	}
	.left-panel{
		width: 40%;
		margin: 0 auto;
		#figure-wrapper{
			margin: 0 auto;
		}
		figure figcaption p{
			font-size: .75em;
		}
	}
	.right-panel{
		width: 90%;
		margin: 0 auto; 
		h1{
			font-size: 1.5em;
		}
		h4{
			font-size: .75em;
		}
		section{
			p{
				font-size: 1em;
			    letter-spacing: .75px; 
			}
			blockquote{	
				font-size: 1.2em;
				letter-spacing: 1.5px;
			}
		}
	}
}

